body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.title {
    margin-top: 50px;
}

.title h1 {
    text-align : center;
    color : #4CAF50;
}

.search form{
    display: flex;
    height: 40px;
    padding: 2px;
    background: #eee;
    min-width: 18%!important;
    border-radius: 2px;
    border: 1px solid rgba(155,155,155,0.2);
}
.search form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}
.search form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #4CAF50;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.vertical-menu {
    height: 240px;
    overflow-y: auto;
}

.vertical-menu span {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu span:hover {
    background-color: #ccc;
}

.vertical-menu span.active {
    background-color: #4CAF50;
    color: white;
}

.menu{
    margin-bottom: 40px;
}

.menu h2, .card h2 {
    border-radius : 20px 0 0 0;
    background-color: #4CAF50;
    color: white;
    display: block;
    margin-block-end: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}

.card h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.card p {
    margin-left : 10px;
    margin-right: 20px;

}

.card-body {
    background-color: #eee;
    padding: 1em 50px ;
}

.card {
    height: 30%;
    width: auto;
}

.card #header-line {
    margin-left: 0px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 3px solid #4CAF50;
}


#search-history{
    position: fixed;
    right: 50px;
    bottom: 50px;
    box-shadow:1px 1px 3px #999;
}

button:hover {
    border: 3px solid #4CAF50;
    color: #4CAF50;
    background: #eee;
}