body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #4CAF50;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-size: 16px;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #f2f2f2;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 35%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap{
    text-align: center;
}

.wrap h1{
    color: #4CAF50;
}


